extends layout

block content
  if user 
    //- TODO
    p messages here
    p button to join the club once logged in
    p add create new message button
    p By this point, anyone who comes to the site should be able to see a list of all messages, with the authors name hidden. Users should be able to sign-up and create messages, but ONLY users that are members should be able to see the author and date of each message. Finally, you should have an Admin user that is able to see everything and also has the ability to delete messages.
  else
    h1 you are not a member
    p this website is for members only

